<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>돌팔이 | 반려돌 판매사이트</title>
		<!-- 아이콘 -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/dolpalee-logo.png"
		/>
		<script
			defer
			src="https://kit.fontawesome.com/9daa42bcef.js"
			crossorigin="anonymous"
		></script>
		<script src="./home.js" type="module" defer></script>
		<script
			src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"
			defer
		></script>
	</head>
	<body class="h-screen">
		<!-- 헤더 -->
		<header class="headerNav"></header>
		<div class="h-[87%]">
			<div class="landing flex max-h-[90%] div-container" id="landingDiv">
				<ul class="w-[600%] flex overflow-hidden" id="slider">
					<div
						class="slider-con flex w-full h-full relative transition-all "
					></div>
				</ul>
			</div>
			<div class="flex justify-center my-5">
				<a href="/category/전체">
					<button
						class="px-6 py-3 bg-slate-200 hover:bg-slate-500 hover:text-white font-bold rounded"
					>
						애완돌 보러가기
					</button>
				</a>
			</div>
		</div>
		<script src="https://cdn.tailwindcss.com"></script>
	</body>
</html>
